executor {
    name = 'lsf'
    perJobMemLimit = true
}

process {
  conda = "${HCBASE}/.conda/envs/drax2"
  scratch = "${HCBASE}/nxf-scratch"
  executor = 'lsf'
  queue = 'scafellpikeSKL'
  clusterOptions = { "-W 1:00 -R \"select[mem>${task.memory.toMega()}]\"" }
}

params {
  max_memory = 32.GB
  max_cpus = 8
  max_time = 1.h
}
